* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: #fff;
}

.container {
  position: relative;
  margin: 2rem auto;
  text-align: center;
  width: 500px;
  height: 90vh;
  background: #3b424a;
  box-shadow: 3px 3px 4px -1px #000;
  border-radius: 4px;
}

hr {
  background: #000;
  border: 1px solid #383f47;
}

.header {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 5rem;
}

.form {
  margin: 2em 0;
}

.task {
  width: 75%;
  height: 40px;
  font-weight: 100;
  color: white;
  background: #353a40;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0 10px 0 0;
  outline: none;
}

.btn-box {
  margin: 5px auto;
  width: 73%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  line-height: 0px;
}

.btn {
  width: 4rem;
  height: 1.7rem;
  cursor: pointer;
}

.reminder {
  margin: 0 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: #353a40;
}

.task-container {
  width: 75%;
  color: white;
  margin: 40px auto;
  font-size: 18px;
  line-height: 10px;
  text-align: start;
}
